<div class="row">
    <div class="col-md-6 mx-auto">
        <h3 class="mb-3">تفاصيل الطلب</h3>
        <div class="list-group">
          <div class="list-group-item">
            <%= link_to @order.id, admin_order_path(@order) %>
          </div>
          <div class="list-group-item m-0">
            <strong>عدد المنتجات: </strong>
            <%= @order.products_count %>
          </div>
          <div class="list-group-item">
            <strong>حالة الطلب: </strong>
            <%= order_status @order.status %>
          </div>
          <div class="list-group-item">
            <strong>بتاريخ: </strong>
            منذ <%= time_ago_in_words @order.created_at %>
          </div>
        </div>
    </div>
</div>