<div class="page-head d-flex mb-3 align-items-center">
  <h3 class="w-100">الإقسام</h3>
  <%= link_to 'اضافة قسم', new_admin_category_path, class: 'btn btn-primary text-nowrap' %>
</div>

<table class="table table-bordered table-sm text-center">
  <thead>
    <tr>
        <th>ID</th>
        <th>الإسم</th>
        <th>الوصف</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>

<%= paginate @categories %>