<div class="row">
    <div class="col-md-6 mx-auto">
        <h3 class="mb-3">تفاصيل القسم</h3>
        <div class="list-group">
          <div class="list-group-item">
            <%= link_to @category.id, admin_category_path(@category) %>
          </div>
          <div class="list-group-item m-0">
            <strong>عنوان القسم: </strong>
            <%= @category.name %>
          </div>
          <div class="list-group-item">
            <strong>وصف القسم: </strong>
            <%= @category.description %>
          </div>
        </div>
    </div>
</div>