<div class="page-head d-flex mb-3 align-items-center">
  <h3 class="w-100">المنتجات</h3>
  <%= link_to 'اضافة منتج', new_admin_product_path, class: 'btn btn-primary text-nowrap' %>
</div>

<table class="table table-bordered table-sm text-center">
  <thead>
    <tr>
        <th>ID</th>
        <th>الصورة</th>
        <th>الإسم</th>
        <th>السعر</th>
        <th>الوصف</th>
        <th>كلمات مفتاحية</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
<%= paginate @products %>