// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary-color: #6e164b;

body {
  background-color: #eeeeee;
}

.text-primary{
    color: $primary-color!important;
}

.nav-link {
  transition: 0.3s ease;
  font-weight: bold;
  &:hover {
    background-color: #f8f9fa;
  }
}

.product{
    img{
        width: 100px;
        min-height: 100px;
    }
    .product-price{
        color: $primary-color;
        font-weight: bold;
    }
}

.btn.btn-primary{
    background: $primary-color;
    border-color: $primary-color;
    &:hover{
        background: #671346;
        border-color: #671346;
    }
}