<div class="page-head d-flex mb-3 align-items-center">
  <h3 class="w-100">المستخدمين</h3>
</div>

<table class="table table-bordered table-sm text-center">
  <thead>
    <tr>
        <th>ID</th>
        <th>البريد الإلكتروني</th>
        <th>حالة الحساب</th>
        <th>بتاريخ</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= paginate @users %>